In [93]:
# Import Splinter, BeautifulSoup, Regular Expression, and Time
from splinter import Browser as bs
from bs4 import BeautifulSoup
import re
import time
import pandas as pd

In [74]:
driver = webdriver.Chrome(r'C:/Users/isaac/Anaconda3/lib/site-packages/chromedriver_binary/chromedriver')
browser = driver

In [51]:
!which chromedriver

/c/Users/isaac/Anaconda3/lib/site-packages/chromedriver_binary/chromedriver

In [75]:
executable_path = {'executable_path': '/c/Users/isaac/Anaconda3/lib/site-packages/chromedriver_binary/chromedriver'}
browser = Browser('chrome', driver)

In [76]:
# Visit the mars nasa news site
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

# Optional delay for loading the page
browser.is_element_present_by_css("ul.item_list li.slide", wait_time=1)

True

In [100]:
#Visit the NASA mars news site¶

In [77]:
html = browser.html
news_soup = BeautifulSoup(html, 'html.parser')

slide_elem = news_soup.select_one('ul.item_list li.slide')

In [78]:
slide_elem.find("div", class_='content_title')

In [79]:
# Use the parent element to find the first a tag and save it as `news_title`
title_news = slide_elem.find("div", class_='content_title').get_text()
title_news

"NASA's Perseverance Rover Will Look at Mars Through These 'Eyes'"

In [80]:
paragraph_news = slide_elem.find('div', class_="article_teaser_body").get_text()
paragraph_news

'A pair of zoomable cameras will help scientists and rover drivers with high-resolution color images.'

In [36]:
# JRL Space Images

In [81]:
 # Visit URL
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [82]:
html = browser.html
jplSpace_soup = BeautifulSoup(html, 'html.parser')

In [83]:
featured_image = jpl_soup.find('div',class_='carousel_items').a['data-fancybox-href']
print(featured_image)

/spaceimages/images/mediumsize/PIA19977_ip.jpg

In [50]:
featured_image = f'https://www.jpl.nasa.gov{featured_image}'
featured_image

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA19977_ip.jpg'

In [ ]:
#mars weather

In [84]:
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

time.sleep(5)

In [85]:
html = browser.html
mars_weather_soup = BeautifulSoup(html, 'html.parser')

In [86]:

mars_weather = mars_weather_soup.find('div', class_='css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0').text
print(mars_weather)

InSight sol 509 (2020-05-02) low -93.2ºC (-135.7ºF) high -2.2ºC (28.1ºF)
winds from the SW at 5.1 m/s (11.5 mph) gusting to 17.9 m/s (40.0 mph)
pressure at 6.80 hPa

In [57]:
#mars hemispheres

In [87]:
# Visit hemispheres website through splinter module 
hemispheres_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemispheres_url)

In [92]:
#Mars Hemispheres
#URL of page to be scraped - Cerberus
url = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'
browser.visit(url)

#Pulling in data
html = browser.html

# Create BeautifulSoup object; parse with 'lxml'
hemi_soup = BeautifulSoup(html, 'html.parser')

#Image url
cerberus_url = hemi_soup.find('div', class_='downloads')
link = cerberus_url.find('a')
cerberus_href = link['href']

print(cerberus_href)

http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg

In [94]:
# Mars Facts

In [96]:
url = 'https://space-facts.com/mars/'
mars_table = pd.read_html(url)

In [99]:
mars_df = mars_table[0]
mars_df.columns = ['Facts', 'Values']
mars_df

                  Facts                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers